/********************************/
/*          Alignement                 */
/********************************/

.align-left
  position: relative
  text-align: left

.align-right
  position: relative
  text-align: right

.align-center
  text-align: center

