/***************************************************/
/*                  CUSTOM TYPO                                 */
/***************************************************/

$default_font: "Open Sans", Arial, "Lucida Grande", sans-serif
$kbd_font: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif

body 
  color: black
  font-family: $default_font
  font-size: 1em
  margin: 0.5% 1%


h1, .h1 
  color: black
  font-weight: bold
  font-family: $default_font
  font-size: 2.5em


h2, .h2 
  color: black
  font-weight: bold
  font-family: $default_font
  font-size: 2.25em


h3, .h3 
  color: black
  font-weight: bold
  font-family: $default_font
  font-size: 2em


h4, .h4 
  color: black
  font-weight: bold
  font-family: $default_font
  font-size: 1.75em


h5, .h5 
  color: black
  font-weight: bold
  font-family: $default_font
  font-size: 1.5em


h6, .h6 
  color: black
  font-weight: bold
  font-family: $default_font
  font-size: 1.25em


h1, h2, h3, h4, h5, h6
  small
    color: grey
    font-family: $default_font
    font-size: 0.75em


p 
  margin-bottom: 1em


mark 
  background-color: yellow


strong 
  font-weight: bold


em 
  font-style: italic


blockquote 
  display: table
  padding: 0.5%
  background-color: lightgrey
  border: 1px solid black
  border-radius: 3px


code 
  display: table
  background-color: beige
  padding: 0.25%
  border: 1px dashed black
  color: green


pre 
  display: block
  white-space: pre


kbd 
  font-family: $kbd_font
  font-size: 1.2em
