/***************************/
/*         Listes          */
/***************************/

li
  margin-left: 1%
  list-style:
    type: disc
    position: inside
  & ~ ul
    li
      margin-left: 2%
      list-style:
        type: square
        position: inside

ul[class="square"]
  li
    margin-left: 1%
    list-style:
      type: square
      position: inside
  ul
    li
      margin-left: 2%
      list-style:
        type: square
        position: inside

ul[class="none"]
  li
    margin-left: 1%
    list-style-type: none
  ul
    li
      margin-left: 2%
      list-style-type: none

