// 7 goutières de 2% : 14% -> 86% restant
  // 1 colonne : 86%/8 -> 10.75%

@mixin span($span)
  float: left
  width: $span * 10.75% + ($span - 1) * 2%
  box-sizing: border-box
  margin-right: 2%
  &:last-child
    margin-right: 0
  border: solid 2px darkred
  margin-bottom: 0.25em

@mixin offset($offset)
  margin-left: $offset * 10.75% + ($offset) * 2%
  border: solid 2px yellowgreen
