@import "_reset"
@import "_default"
@import "_lists"
@import "_align"
@import "_text-transform"
@import "_tables"
@import "_mixin"
@import "_class_generator"

html, body
	width: 100%
.row
	clear: left
	width: 100%