/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/************************************************** */
/*                  CUSTOM TYPO                                 */
/************************************************** */
body {
  color: black;
  font-family: "Open Sans", Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
  margin: 0.5% 1%; }

h1, .h1 {
  color: black;
  font-weight: bold;
  font-family: "Open Sans", Arial, "Lucida Grande", sans-serif;
  font-size: 2.5em; }

h2, .h2 {
  color: black;
  font-weight: bold;
  font-family: "Open Sans", Arial, "Lucida Grande", sans-serif;
  font-size: 2.25em; }

h3, .h3 {
  color: black;
  font-weight: bold;
  font-family: "Open Sans", Arial, "Lucida Grande", sans-serif;
  font-size: 2em; }

h4, .h4 {
  color: black;
  font-weight: bold;
  font-family: "Open Sans", Arial, "Lucida Grande", sans-serif;
  font-size: 1.75em; }

h5, .h5 {
  color: black;
  font-weight: bold;
  font-family: "Open Sans", Arial, "Lucida Grande", sans-serif;
  font-size: 1.5em; }

h6, .h6 {
  color: black;
  font-weight: bold;
  font-family: "Open Sans", Arial, "Lucida Grande", sans-serif;
  font-size: 1.25em; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: grey;
  font-family: "Open Sans", Arial, "Lucida Grande", sans-serif;
  font-size: 0.75em; }

p {
  margin-bottom: 1em; }

mark {
  background-color: yellow; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

blockquote {
  display: table;
  padding: 0.5%;
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 3px; }

code {
  display: table;
  background-color: beige;
  padding: 0.25%;
  border: 1px dashed black;
  color: green; }

pre {
  display: block;
  white-space: pre; }

kbd {
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  font-size: 1.2em; }

/************************** */
/*         Listes          */
/************************** */
li {
  margin-left: 1%;
  list-style-type: disc;
  list-style-position: inside; }
  li ~ ul li {
    margin-left: 2%;
    list-style-type: square;
    list-style-position: inside; }

ul[class="square"] li {
  margin-left: 1%;
  list-style-type: square;
  list-style-position: inside; }
ul[class="square"] ul li {
  margin-left: 2%;
  list-style-type: square;
  list-style-position: inside; }

ul[class="none"] li {
  margin-left: 1%;
  list-style-type: none; }
ul[class="none"] ul li {
  margin-left: 2%;
  list-style-type: none; }

/******************************* */
/*          Alignement                 */
/******************************* */
.align-left {
  position: relative;
  text-align: left; }

.align-right {
  position: relative;
  text-align: right; }

.align-center {
  text-align: center; }

/* Text transform */
.toUpperCase {
  text-transform: uppercase; }

.toLowerCase {
  text-transform: lowercase; }

/* Tables */
table tr {
  border: solid 2px black; }
  table tr td {
    border-left: solid 2px black;
    padding: 1em; }
    table tr td:first-child {
      border-left: none; }

.grid .span-1 {
  float: left;
  width: 10.75%;
  box-sizing: border-box;
  margin-right: 2%;
  border: solid 2px darkred;
  margin-bottom: 0.25em; }
  .grid .span-1:last-child {
    margin-right: 0; }

.grid .span-2 {
  float: left;
  width: 23.5%;
  box-sizing: border-box;
  margin-right: 2%;
  border: solid 2px darkred;
  margin-bottom: 0.25em; }
  .grid .span-2:last-child {
    margin-right: 0; }

.grid .span-3 {
  float: left;
  width: 36.25%;
  box-sizing: border-box;
  margin-right: 2%;
  border: solid 2px darkred;
  margin-bottom: 0.25em; }
  .grid .span-3:last-child {
    margin-right: 0; }

.grid .span-4 {
  float: left;
  width: 49%;
  box-sizing: border-box;
  margin-right: 2%;
  border: solid 2px darkred;
  margin-bottom: 0.25em; }
  .grid .span-4:last-child {
    margin-right: 0; }

.grid .span-5 {
  float: left;
  width: 61.75%;
  box-sizing: border-box;
  margin-right: 2%;
  border: solid 2px darkred;
  margin-bottom: 0.25em; }
  .grid .span-5:last-child {
    margin-right: 0; }

.grid .span-6 {
  float: left;
  width: 74.5%;
  box-sizing: border-box;
  margin-right: 2%;
  border: solid 2px darkred;
  margin-bottom: 0.25em; }
  .grid .span-6:last-child {
    margin-right: 0; }

.grid .span-7 {
  float: left;
  width: 87.25%;
  box-sizing: border-box;
  margin-right: 2%;
  border: solid 2px darkred;
  margin-bottom: 0.25em; }
  .grid .span-7:last-child {
    margin-right: 0; }

.grid .span-8 {
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin-right: 2%;
  border: solid 2px darkred;
  margin-bottom: 0.25em; }
  .grid .span-8:last-child {
    margin-right: 0; }

.grid .offset-1 {
  margin-left: 12.75%;
  border: solid 2px yellowgreen; }

.grid .offset-2 {
  margin-left: 25.5%;
  border: solid 2px yellowgreen; }

.grid .offset-3 {
  margin-left: 38.25%;
  border: solid 2px yellowgreen; }

.grid .offset-4 {
  margin-left: 51%;
  border: solid 2px yellowgreen; }

.grid .offset-5 {
  margin-left: 63.75%;
  border: solid 2px yellowgreen; }

.grid .offset-6 {
  margin-left: 76.5%;
  border: solid 2px yellowgreen; }

.grid .offset-7 {
  margin-left: 89.25%;
  border: solid 2px yellowgreen; }

html, body {
  width: 100%; }

.row {
  clear: left;
  width: 100%; }

/*# sourceMappingURL=main.css.map */
